code/Screener/code/vevestaXDump/
code/markowitz/.ipynb_checkpoints/Markowitz-slim-checkpoint.ipynb
code/.ipynb_checkpoints/Untitled1-checkpoint.ipynb
code/.ipynb_checkpoints/Untitled-checkpoint.ipynb
code/.ipynb_checkpoints/FREDData-checkpoint.ipynb
code/.ipynb_checkpoints/FRED_analysis-checkpoint.ipynb
code/Screener/SP1500_screener_multiple.xlsx
code/Screener/SP1500_screener_multiple.xlsx
code/Screener/data_object.pkl
code/Screener/fundamental.pkl
*.dirlock
code/Screener/fundamental.pkl
code/Screener/fundamental.pkl
code/Screener/.ipynb_checkpoints/AnalyzeSP1500-checkpoint.ipynb
code/Screener/code/.ipynb_checkpoints/SP1500-checkpoint.ipynb
code/Screener/code/.ipynb_checkpoints/AnalyzeSP1500-checkpoint.ipynb
code/Screener/code/EDA.pdf
code/Screener/.ipynb_checkpoints/SP1500-checkpoint.ipynb
code/Screener/data/interim/fundamental.pkl
code/Screener/data/interim/data_object.pkl
code/check/
code/Screener/code/vevestaXDump/a.jpeg
code/Screener/code/vevestaXDump/b.jpeg
code/Screener/code/vevestaXDump/BSS.jpeg
code/Screener/code/vevestaXDump/c_.jpeg
code/Screener/code/vevestaXDump/F_score.jpeg
code/Screener/code/vevestaXDump/Global_F.jpeg
code/Screener/code/vevestaXDump/global_sig.jpeg
code/Screener/code/vevestaXDump/high_value.jpeg
code/Screener/code/vevestaXDump/i.jpeg
code/Screener/code/vevestaXDump/init_max.jpeg
code/Screener/code/vevestaXDump/init_min.jpeg
code/Screener/code/vevestaXDump/k.jpeg
code/Screener/code/vevestaXDump/maxk.jpeg
code/Screener/code/vevestaXDump/mink.jpeg
code/Screener/code/vevestaXDump/n_ahead.jpeg
code/Screener/code/vevestaXDump/pos.jpeg
code/Screener/code/vevestaXDump/prior.jpeg
code/Screener/code/vevestaXDump/silhouette_avg.jpeg
code/Screener/code/vevestaXDump/t_.jpeg
code/Screener/code/vevestaXDump/tot_ss.jpeg
code/Screener/code/vevestaXDump/TSS.jpeg
code/Screener/code/vevestaXDump/value.jpeg
code/Screener/code/vevestaXDump/w.jpeg
