#python 3.9.9
keras
keras.models
tensorflow
atoti
poetry
jupyterlab
pillow
clustergram
dask
distributed
# Microsoft Visual Studio 2022.
#VisualStudioSetup.exe
blosc
dask
distributed
#dask==2021.11.2
#distributed==2021.11.2
#lz4==3.1.10
lz4
ipywidgets
k_means_constrained
openpyxl
pandas_datareader
pandas_market_calendars
#pickle-mixin
pickleshare
cloudpickle==2.0.0
pivottablejs
pmdarima
prophet	
rpy2
sklearn
pysqlite3matplotlibdataframe_imageseabornscipyjupyterlab
statsmodels
vevestaX
xlsxwriter
yfinance
#needed for prophet#pandas==1.2.5
pandasnumpy
#numpy==1.22.4
pipenv
toolz
#toolz==0.11.2
msgpack
#msgpack==1.0.3
